	  <div class="table-responsive"> 
	<form class="edit" id="edit" action="../data/edit">
	<table class="table">
		<tr>
			<td>v </td>
			<td> Id нарушения</td>
			<td> Код объекта</td>
			<td>В чем выражается нарушение</td>
			<td>Адрес объекта с нарушением</td>
			<td>Вид нарушения</td>
			<td>Организация</td>
			<td>Примененная статья</td>
			<td>Количество предписаний</td>
			<td>Кол-во штрафов</td>
			<td>Сумма штрафов</td>
		</tr>
		<h1>Список выявленных нарушений</h1>
		<% @BiD.each do |f| %>
		<tr>
			<td><%= radio_button_tag :f,f.id%></td>
			<td><%= f.id %> </td>
			<td><%= f.obcode %></td>
			<td><%= f.reason%></td>
			<td><%= f.adress%></td>
			<td><%= f.offertype%></td>
			<td><%= Organisation.find(f.organisation_id).name%></td>
			<td><%= f.offerstat%></td>
			<td><%= f.kolpredp%></td>
			<td><%= f.kolshtraf%></td>
			<td><%= f.summshtraf%></td>
		</tr>
		<% end %>
	</table>
	    <button class="btn btn-success" id="submit" type="submit">Применить</button>
	</form>
<%= link_to "Назад ",:mains_show %><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
</div>